body{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px auto;
    font-size: 30px;
}

.score-container {
    background-color: lightgray;
    border-radius: 10px;
    padding: 100px;
    width: 30%;
    margin: 30px auto;
    text-align: left;
}

